[submodule "babel"]
	path = babel
	url = https://github.com/babelbooks/babel.git
[submodule "engine"]
	path = engine
	url = https://github.com/babelbooks/engine.git
[submodule "printer"]
	path = printer
	url = https://github.com/babelbooks/printer
[submodule "doc"]
	path = doc
	url = https://github.com/babelbooks/doc
